/* Reusable Variables */
:root {
    --space-sm: .5rem;
    --space: 1rem;
    --space-lg: 2rem;

    --border-radius: 6px;

    --color-dark: #2e2e2e;
    --color-accent: #ffd56b;
}

/* Layout and base styling stuff */

body {
    background-color: #f7f7f7;
    color: var(--color-dark);
    display: grid;
        grid-template-rows: auto 1fr auto;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    height: 100%;
    min-height: 100vh;
}

header,
main,
footer {
    padding: 0 clamp(2rem, 12vw, 600px);
}

h1,
h2,
h3 {
    font-family: "DM Serif Text", serif;
    font-weight: 900;
}

a {
    color: var(--color-dark);
    border-bottom: 2px solid var(--color-accent);
    box-shadow: inset 0px -8px 0px var(--color-accent);
    text-decoration: none;
    transition: box-shadow .1s ease;
}

a:hover,
a:focus,
a:active {
    box-shadow: inset 0px -22px 0px var(--color-accent);
}






/* Nav */
nav {
    display: flex;
        gap: var(--space);
        justify-content: space-between;
        align-items: baseline;
}

nav ul {
    list-style-type: none;
    display: flex;
        gap: var(--space-sm);
        align-items: baseline;
    padding: 0;
    margin: 0;
}


/* Project grid on homepage */
.project-grid {
    display: grid;
        gap: var(--space);
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.project-card {
    border: 1px solid black;
    border-radius: var(--border-radius);
    padding: var(--space);
}