---
layout: "layouts/base.njk"
title: "My Home Page"
description: "A collection of things"
---

<header>
    <nav>
        <a href="/">Logo Here</a>
        <ul>
            <li><a href="/">Work</li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <div>
        <h1>About Me</h1>
        <p class="intro">
            My name is Katie Pohlman and I build experiences that solve users’ problems without getting in the way. A UI/UX Designer, HTML/CSS nerd, and midwesterner through and through, I love understanding a problem and finding the simplest solution to solve it.
        </p>
        <img src="assets/headshots-20.jpg" />
    </div>
</header>

<main>
    <section>
        
    </section>

    <section>

    </section>
</main>

