---
layout: "layouts/base.njk"
title: "My Home Page"
description: "A collection of things"
---

<header>
    <nav>
        <a href="/" class="logo"><img src="/assets/img/logo.svg" alt="Logo" /></a>
        <ul>
            <li><a href="/">Work</li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <h1>About Me</h1>
    <section class="right-aside u-align-center">
        <p class="intro">
            My name is Katie Pohlman and I build experiences that solve users’ problems without getting in the way. A UI/UX Designer, HTML/CSS nerd, and midwesterner through and through, I love understanding a problem and finding the simplest solution to solve it.
        </p>
        <div class="headshot">
            <img src="/assets/img/headshots-20.jpg" alt="Image of Katie smiling"/>
        </div>
    </section>

    <hr class="u-push-top--xl"/>
</header>

<main>
    <section class="right-aside">
        <div>
            <h2>Work Experience</h2>

            <h3>Launch Scout</h3>
            <p class="u-push-top--xs"><b>Principal UX Designer</b></p>
            <p class="u-push-top--xs">Project leadership; User Experience Design; User Interface Design; HTML/CSS Implementation; User Testing</p>
            <p class="note">April 2016 – Present</p>

            <h3>Sanger & Eby</h3>
            <p class="u-push-top--xs"><b>Art Director</b></p>
            <p class="u-push-top--xs">Art Direction; Responsive Web Design; User Experience; Usability Testing; Print design; After Effects animations; Flash animations</p>
            <p class="note">August 2013 – April 2016</p>

            <h3>Global Cloud</h3>
            <p class="u-push-top--xs"><b>Design Intern</b></p>
            <p class="u-push-top--xs">Web design for nonprofit organizations; design of internal documents; print advertising design</p>
            <p class="note">May 2012 – August 2012</p>

            <h2>Speaking & Awards</h2>

            <h3>Connect.Tech Atlanta</h3> 
            <p class="u-push-top--xs"><b>Pixel-Perfect Mockups and Other Disasters</b></p>
            <p class="u-push-top--xs">Discussion of why focusing on pixel perfect mockups can harm your product.</p>
            <p class="note">2022</p>

            <h3>GDUSA American Web Design Award</h3>
            <p class="u-push-top--xs">Design of the Return on Investment Tool for Chegg</p>
            <p class="note">2020</p>

            <h3>Agile Cincy/Indy Conference</h3>
            <p class="u-push-top--xs"><b>Lost in a Maze of Maps? Here's a Map to Find Your Way Out</b></p>
            <p class="u-push-top--xs">Co-led a workshop outlining several of the different design mapping exercises and when to use them</p>
            <p class="note">2018</p>

            <h3>Platinum, Gold MarCom Award</h3>
            <p>Design of the 2014 Fifth Third Corporate Social Responsibility Report</p>
            <p class="note">2015</p>
        </div>

        <div>
            <h2>Education</h2>
            <h3>Miami University</h3>
            <p><b>BFA in Graphic Design</b></p>
            <p>Minors in Interactive Media Studies & Marketing</p>
            <p class="note">Graduated May 2013, Magna Cum Laude</p>

            <h2>Skills</h2>
            <ul>
                <li>User Experience Design</li>
                <li>User Interface Design</li>
                <li>HTML/CSS</li>
                <li>Prototyping</li>
                <li>Project Management</li>
            </ul>
        </div>
    </section>
</main>

