---
layout: "layouts/base.njk"
title: "My Home Page"
description: "A collection of things"
---

<header class="">
    <nav>
        <a href="/" class="logo"><img src="/assets/img/logo.svg" alt="Logo" /></a>
    </nav>
    <div class="">
        <h1>Hi, I'm Katie—an HTML/CSS-loving UX Designer with more than a decade of experience.</h1>
        <a href="/about">Learn More</a>
    </div>
<hr/>
</header>


<main>
    <section>
        <h2>Samples of work</h2>
        <div class="grid">
            {%- for project in collections.projects -%}
                <div class="project-card">
                    <h3>{{project.data.description}}</h3>
                    <h4>{{project.data.client}}</h4>
                    <a href="{{project.url}}">See more</a>
                </div>
            {%- endfor -%}
        </div>
    </section>
</main>

