---
layout: "layouts/base.njk"
title: "My Home Page"
description: "A collection of things"
---

<header>
    <nav>
        <a href="/" class="logo">
            {% include "_partials/logo.njk" %}
        </a>
    </nav>
    <div>
        <h1 class="u-push-bottom">Hi, I'm Katie—an HTML/CSS-loving UX Designer with more than a decade of experience.</h1>
        <a href="/about">About me ⟶</a>
    </div>
<hr/>
</header>


<main>
    <section>
        <h2>Examples of work</h2>
        <div class="grid u-push-top--lg">
            {%- for project in collections.projects -%}
                <div class="project-card">
                    <img src="{{project.data.cover_image}}" alt="Image of {{project.data.client}} app" />
                    <h3>{{project.data.description}}</h3>
                    <h4 class="u-push-bottom">{{project.data.client}}</h4>
                    <a href="{{project.url}}">See more</a>
                </div>
            {%- endfor -%}
        </div>
    </section>
</main>

