<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ metadata.title }}</title>
    <meta
      name="description"
      content="Zero to Hello World"
    >
  </head>

  <body>
    <main>
        {{ content | safe}}
    </main>

    <footer>
        <p>All content copyright {{metadata.author.name}}, 2025</p>
    </footer>
  </body>
</html>