<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ metadata.title }}</title>
    <meta
      name="description"
      content="Zero to Hello World"
    >
    <link rel="stylesheet" href="/assets/bundle.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      {{ content | safe}}
      <footer class="u-push-top--xl">
          <h2>Let's Connect ⟶</h2>
          <div class="u-flex u-flex-wrap u-push-top--lg">
              <a class="button" href="mailto:katiepohlman3@gmail.com">Email</a>
              <a class="button" target="blank" href="https://www.linkedin.com/in/kspohlman/">LinkedIn</a>
              <a class="button" target="blank" href="https://dribbble.com/kspohlman">Dribbble</a>
          </div>

          <hr class="u-push-top--xl u-push-bottom" />
          <p class="note">All rights reserved, 2025</p>
      </footer>
    </div>
  </body>
</html>