---
layout: /layouts/base
---

<header>
    <nav>
        <a href="/" class="logo"><img src="/assets/img/logo.svg" alt="Logo" /></a>
        <ul>
            <li><a href="/">Work</li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <h1>{{description}}</h1>
    <p class="intro">{{client}}</p>
    <hr />
</header>

<main>
    <section>
        <img src="{{intro_image}}" alt="Screenshots of {{client}} app">
        <p>{{context}}</p>
    </section>
    <section class="right-aside u-push-top--xl">
        <div>
            <h2>Challenge</h2>
            <p>{{challenge}}</p>
            <dl class="u-push-top">
                <dt>Target Audience:</dt>
                <dd>{{audience}}</dd>
                <dt>Project Timeline:</dt>
                <dd>{{timeline}}</dd>
            </dl>
        </div>
        <img src="{{challenge_image}}" alt="Screenshots of {{client}} app">
    </section>
    <section class="u-push-top--xl">
        <div class="right-aside">
            <div>
                <h2>Solution</h2>
                <p>{{solution}}</p>
            </div>
            <img src="{{solution_image}}" alt="Screenshots of {{client}} app">
        </div>
        <h3 class="u-push-top">My Contributions</h3>
        <p>{{content | safe}}</p>
    </section>
    <section class="grid">
        {%- for image in images -%}
            <img src="{{image}}" alt="Screenshots of {{client}} app">
        {%- endfor -%}
    </section>
</main>